html body{
	background-color: #010005;
	margin: 0%;
	padding: 0%;
	
}

#menu{
	width: 100%;
	height: auto;
	text-align: center;
}

#menu li {
	display: inline;
	padding-left: 40px;
	
}

#menu li a{
	font-size: 20px;
	text-decoration: none;
	letter-spacing: 10px;
	color: #fefee3;
}

#menu a:hover{
	font-color: rgba(111, 156, 185, 1);
	border-bottom: 4px solid rgb(12, 34,48);
}
.active{
	border-bottom: 4px solid rgb(12, 34,48);

}


#header {
	min-height: 100px;
	margin: 1px;
	padding-top: 30%;
	width: 100%;
	height: auto;
	background: url(/lights.jpg);
}

#header h1{
	padding-top: 10%;
	margin: 0;
	text-align: left;
	font-family: 'Cormorant Garamond';
	font-size: 90px;
	font-weight: 300;
	line-height: 100px;
	text-transform: uppercase;
	letter-spacing: 20px;
	color: #fefee3;
	border-bottom: 4px solid rgb(12, 34,48);
}
#header h3{
	font-family: 'Cormorant Garamond';
	margin-left: 50px;
	color: #fefee3;
	letter-spacing: 7px;
	text-align: right;
}
#header2 {
	max-height: 100px;
	margin: 1px;
	padding-top: 15%;
	width: 100%;
	height: auto;
	background: url(/lights.jpg);

}
#header2 h1{
	margin: 0;
	text-align: left;
	font-family: 'Cormorant Garamond';
	font-size: 90px;
	font-weight: 300;
	line-height: 100px;
	text-transform: uppercase;
	letter-spacing: 20px;
	color: #fefee3;
	border-bottom: 4px solid rgb(12, 34,48);
}


#body{
	min-height: 400px;
	margin-top: 3%;
}

p{
	text-align: center;
	font-family: 'CormorantGaramond-Light'
	font-size: 20px;
	color: #fefee3;
}

@font-face {
    font-family:'Cormorant Garamond';
    src: url(/CormorantGaramond-Light.otf);
}

