html body{
	background-color: #010005;
	margin: 0;
	padding: 0;
	
}

ul{
	width: 100%;
	height: auto;
}
li {
	display: inline;
	
}

ul li a{
	font-size: 20px;
	text-decoration: none;
	letter-spacing: 10px;
	padding-left: 40px;
	color: #fefee3;
}
.nav{
	width: 100%; 
	text-align: center;
}

header {
	margin: 1px;
	padding-top: 30%;
	width: 100%;
	height: auto;
	background: url(/lights.jpg);
}
header h1{
	padding-top: 10%;
	margin: 0;
	margin-left: 50px;
	font-family: 'Cormorant Garamond';
	font-size: 100px;
	font-weight: 300;
	line-height: 100px;
	text-transform: uppercase;
	letter-spacing: 20px;
	color: #fefee3;
	border-bottom: 4px solid rgb(12, 34,48);
}
header h3{
	font-family: 'Cormorant Garamond';
	margin-left: 50px;
	color: #fefee3;
	letter-spacing: 7px;
	text-align: right;
}

@font-face {
    font-family:'Cormorant Garamond';
    src: url(/CormorantGaramond-Light.otf);
}



