html body{
	font-family: helvetica;
	margin: 0;
	padding: 0;
	
}

ul{
	width: 100%;
	height: auto;
}

ul li a{
	text-decoration: none;
}

header img .headpic{
	margin: 0;
	padding: 0;
	width: 100px;
	height: auto;
}
/* Resize Background*/
@media only screen and (max-width: 800px) {

    #header{
            width: 100%;
            height: auto;
            background-size: 100% auto !important;
    }
}